FIREBASE_CONFIG_JSON={ "apiKey": "AIzaSyCeQwH_7OeojwAf6I-jy16TyKxwyMzBH-0", "authDomain": "savan-id-staging.firebaseapp.com", "projectId": "savan-id-staging", "storageBucket": "savan-id-staging.appspot.com", "messagingSenderId": "867596115218", "appId": "1:867596115218:web:a751bbb3dbb34c270b27cb", "measurementId": "G-L4G1PSMT5T" }
FIRESTORE_EMULATOR_HOST=localhost
FIRESTORE_EMULATOR_PORT=8080